<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:include="fragments/header :: header"></head>
<body>
<div th:replace="fragments/navigation :: navigation"></div>
<div class="container">
    <div class="row">
        <table class="table w-auto table-layout-fixed">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col">Дата создания</th>
                <th scope="col">Состояние</th>
                <th scope="col">Автор</th>
                <th scope="col">Приоритет задания</th>
                <th scope="col">Категории</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task, iterStat: ${tasks}">
                <td th:text="${iterStat.index + 1}"/>
                <td>
                    <a th:text="${task.name}"
                       th:href="@{/tasks/{taskId}(taskId=${task.id})}">
                    </a>
                </td>
                <td th:text="${#temporals.format(task.created, 'dd.MM.yyyy HH:mm')}"/>
                <td>
                    <span th:text="${task.done} ? 'Выполнено' : 'Не выполнено'"></span>
                </td>
                <td th:text="${task.user.name}"/>
                <td th:text="${task.priority.name}"/>
                <td>
                    <span th:each="category, iterStat : ${task.categories}">
                        <span th:text="${category.name + (iterStat.last ? '' : ', ')}"></span>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>